[Desktop Entry]
Name=Jump & Bump
Comment=Multiplayer game
Comment[pl]=Gra dla wielu graczy
Icon=jumpnbump
Exec=/usr/bin/jnbmenu.tcl
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
# vi: encoding=utf-8
