[Desktop Entry]
Encoding=UTF-8
Name=Jump & Bump
Comment=Multiplayer game
Comment[pl]=Gra dla wielu graczy
Icon=jumpnbump.png
Exec=/usr/games/jnbmenu.tcl
Terminal=false
Type=Application
